<h1>Card</h1>
<div id="card">
  {{#if courses.length }}
    <table>
      <thead>
      <tr>
        <th>Name course</th>
        <th>Count</th>
        <th>Deysvie</th>
      </tr>
      </thead>
      <tbody>
      {{#each courses}}
        <tr>
          <td>{{title}}</td>
          <td>{{count}}</td>
          <td>
            <button class="btn waves-effect waves-light red js-remove" data-id="{{id}}">Delete<i
                class="material-icons right">remove_shopping_cart</i></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    <p><strong>Price:</strong> <span class="price">{{price}}</span></p>

    <form action="/orders" method="POST" style="padding: 20px;">
      <button class="btn waves-effect waves-light green pulse" data-id="{{id}}">Buy now<i
          class="material-icons right">payment</i></button>
    </form>
  {{else}}
    <h5>Not courses</h5>
  {{/if}}
</div>