<h1>courses</h1>


{{#if courses.length }}
	<div class="row">

		{{#each courses}}
			<div class="col s6">
				<div class="card">
					<div class="card-image">
						<img src="{{img}}" alt="{{title}}">
					</div>
					<div class="card-content">
						<span class="card-title">{{title}}</span>
						<p class="price">{{price}}</p>
					</div>
					<div class="card-action">
						<a href="/courses/{{id}}">Open course</a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>

{{else}}
	<p>Not courses</p>
{{/if}}